project_id = "benson-estimating"

[api]
enabled = true
port = 54321

[db]
port = 54322
shadow_port = 54320
major_version = 15

[studio]
enabled = true
port = 54323

[edge_runtime]
enabled = true
policy = "per_worker"

[storage]
enabled = true
file_size_limit = "50MiB"
